.addNewJobBtn{
   display: block;
   margin: 0 auto;
   width:10%;
   height: 4vw;
   border-radius: 5vw;
   background-color: orange;
   border: none;
   color: #fff;
}

.addNewJobBtn:hover{
    background-color:black;
}

/* Admin Career */

.CareersOpenPositionSection{
    width:100%;
    height: auto;
}

.AdminCareerCardSection{
    width:100%;
    height: auto;
    display: flex;
    font-family: "Raleway", sans-serif;   
}

.AdminCareerCard{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 2 cards per row */
    gap:20px;
    padding: 40px 20px;

}

.AdCareerCard{
   width:100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* initial shadow */
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    box-sizing: border-box;
    padding:2vw;
    
    background-color: #223067;
    color: #fff;
}

.AdminCareerCardText{
    display: flex;
    flex-direction: column;
}

.AdCareerCard:hover{
    cursor: pointer;
    box-shadow: 0 8px 20px #223067; /* stronger shadow on hover */
  transform: translateY(-5px); /* optional lift effect */
}

.job-description{
        white-space: pre-line;
}


@media (max-width: 768px){

    .addNewJobBtn{
   display: block;
   margin: 0 auto;
   width:25%;
   height: auto;
   border-radius: 5vw;
   background-color: orange;
   border: none;
   color: #fff;
}

.addNewJobBtn:hover{
    background-color:black;
}

/* Admin Career */


.AdminCareerCardSection{
    width:100%;
    height: auto;
    display: flex;
    font-family: "Raleway", sans-serif;   
}

.AdminCareerCard{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 2 cards per row */
    gap:20px;
    padding: 40px 20px;

}

.AdCareerCard{
   width:100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* initial shadow */
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    box-sizing: border-box;
    padding:2vw;
    
    background-color: #223067;
    color: #fff;
}

.AdminCareerCardText{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AdCareerCard:hover{
    cursor: pointer;
    box-shadow: 0 8px 20px #223067; /* stronger shadow on hover */
  transform: translateY(-5px); /* optional lift effect */
}

.job-description{
        white-space: pre-line;
}

}